[submodule "dronelogbook"]
 path = dronelogbook
 url = https://github.com/oucass/BLISS-DroneLogbook.git
 branch = main
[submodule "SensorCoefficients"]
 path = SensorCoefficients
 url = https://github.com/oucass/SensorCoefficients.git
 branch = main
