[submodule "dronelogbook"]
	path = dronelogbook
	url = git@github.com:oucass/BLISS-DroneLogbook.git
	branch = main
[submodule "SensorCoefficients"]
	path = SensorCoefficients
	url = git@github.com:oucass/SensorCoefficients
	branch = main
